aniso8601 @ file:///tmp/build/80754af9/aniso8601_1614708839015/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831764494/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///C:/ci/cryptography_1633502396740/work
cycler==0.10.0
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
dnspython==1.16.0
Flask @ file:///tmp/build/80754af9/flask_1632776664051/work
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1609957731919/work
Flask-PyMongo @ file:///home/conda/feedstock_root/build_artifacts/flask-pymongo_1630936547698/work
Flask-RESTful @ file:///home/conda/feedstock_root/build_artifacts/flask-restful_1622406740831/work
fonttools==4.25.0
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916842152/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213516947/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282618948/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528383308/work
matplotlib @ file:///C:/ci/matplotlib-suite_1628011511716/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
munkres==1.1.4
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
numexpr @ file:///C:/ci/numexpr_1618856761305/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271861146/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1632920019983/work
Pillow @ file:///C:/ci/pillow_1625663286921/work
plotly==3.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pymongo==3.12.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1627149776321/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==228
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
retrying==1.3.3
six @ file:///tmp/build/80754af9/six_1623709665295/work
tornado @ file:///C:/ci/tornado_1606935947090/work
traitlets @ file:///tmp/build/80754af9/traitlets_1632522747050/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
Werkzeug @ file:///tmp/build/80754af9/werkzeug_1631818832573/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work
